
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
/var/
/vendor/
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
